body {
    font-family: 'Arial', sans-serif;
    background-color: #2c3e50;
    color: #ecf0f1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.app-wrapper {
    background-color: #34495e;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.player {
    text-align: center;
    padding: 20px;
    width: 300px;
}

.cover img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.info h2, .info h3 {
    margin: 5px 0;
}

.controls {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.controls button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #34495c; /* Cor dos botões 2 */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


